#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  transform: translateY(-16vh)
}

.navigation-bar {
  background-color: #18181d;
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  padding: 0.5rem 0;
  z-index: 1000;
  color: #dcd6ff !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23dcd6ff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: #18181d !important;
}

.nav-link {
  color: #dcd6ff !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0;
  color: #dcd6ff !important;
}

.logo {
  height: 40px;
  width: auto;
  padding-left: -1rem;
  margin-left: -1rem;
}

.navbar {
  padding: 0 1rem;
  background-color: #18181d !important;
  color: #dcd6ff !important;
}

main {
  margin-top: 60px;
  padding: 1rem;
}

.Hero-Logo {
  width: 25vw;
  height: auto;
  transform: translate(-135%, 50%);
}

.circular-image {
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
  border: 3px solid #9d4dff;
  box-shadow: 0 0 15px #ae00ff, 0 0 30px #b36bff;
  display: inline-block;
  transition: all 0.3s ease;
}

.circular-image:hover {
  box-shadow: 0 0 30px #ae00ff, 0 0 60px #b36bff;
  transform: translate(-135%, 50%) scale(1.05);
}

.hero-text {
  color: #dcd6ff !important;
  transform: translate(0%, 0%);
}

.hero-header {
  font-size: 5rem;
  transform: translate(10%, -150%);
}



.hero-subheader {
  font-size: 1.5rem;
  transform: translate(1%, -350%);
}

.footer {
  color: #dcd6ff !important;
  margin-top: 1000px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact-button {
  background-color: #9d4dff;
  border-color: #9d4dff;
  color: #dcd6ff !important;
  margin-right: 12rem;
  transform: translate(0%, -300%);
}

.contact-button:hover {
  transform: translate(0%, -300%);
  background-color: rgba(0, 190, 255, 0.8) !important;
  border-color: rgba(0, 180, 255, 0.8) !important;
  box-shadow: 0 0 15px #00baff, 0 0 30px #29f7ff;
}

.projects-button {
  background-color: #9d4dff;
  border-color: #9d4dff;
  color: #dcd6ff !important;
  transform: translate(0%, -300%);
}

.projects-button:hover {
  transform: translate(0%, -300%);
  background-color: rgba(0, 190, 255, 0.8) !important;
  border-color: rgba(0, 180, 255, 0.8) !important;
  box-shadow: 0 0 15px #00baff, 0 0 30px #29f7ff;
}

@media (max-width: 768px) {
  .Hero-Logo {
    width: 28vw;
    height: auto;
    transform: translate(-90%, 50%);
  }

  .hero-text {
    transform: translate(15%, -55%);
  }

  .hero-header {
    font-size: 2.5rem;
    transform: translate(0%, 0%);
  }

  .hero-subheader {
    font-size: 1rem;
    transform: translate(-3.5%, 50%);
  }

  .circular-image:hover {
    box-shadow: 0 0 30px #ae00ff, 0 0 60px #b36bff;
    transform: translate(-90%, 50%) scale(1.05);
  }

    .contact-button {
    background-color: #9d4dff;
    border-color: #9d4dff;
    color: #dcd6ff !important;
    margin-right: 9rem;
    transform: translate(0%, 40%);
  }

  .contact-button:hover {
    transform: translate(0%, 40%);
    background-color: rgba(0, 190, 255, 0.8) !important;
    border-color: rgba(0, 180, 255, 0.8) !important;
    box-shadow: 0 0 15px #00baff, 0 0 30px #29f7ff;
  }
  
  .projects-button {
    background-color: #9d4dff;
    border-color: #9d4dff;
    color: #dcd6ff !important;
    transform: translate(0%, 40%);
  }

  .projects-button:hover {
    transform: translate(0%, 40%);
    background-color: rgba(0, 190, 255, 0.8) !important;
    border-color: rgba(0, 180, 255, 0.8) !important;
    box-shadow: 0 0 15px #00baff, 0 0 30px #29f7ff;
  }
}

@media (max-width: 425px) {
  .Hero-Logo {
    width: 50vw;
    height: auto;
    transform: translate(0%, 40%);
  }

  .circular-image:hover {
    box-shadow: 0 0 30px #ae00ff, 0 0 60px #b36bff;
    transform: translate(0%, 35%) scale(1.05);
  }

  .hero-text {
    transform: translate(0%, 85%);
  }

  .hero-header {
    font-size: 1.75rem;
    transform: translate(0%, 0%);
  }

  .hero-subheader {
    font-size: 1rem;
    transform: translate(1%, 0%);
  }

  .contact-button {
    background-color: #9d4dff;
    border-color: #9d4dff;
    color: #dcd6ff !important;
    margin-right: 3rem;
    transform: translate(0%, 0%);
  }

  .contact-button:hover {
    transform: translate(0%, 0%);
    background-color: rgba(0, 190, 255, 0.8) !important;
    border-color: rgba(0, 180, 255, 0.8) !important;
    box-shadow: 0 0 15px #00baff, 0 0 30px #29f7ff;
  }
  
  .projects-button {
    background-color: #9d4dff;
    border-color: #9d4dff;
    color: #dcd6ff !important;
    transform: translate(0%, 0%);
  }

  .projects-button:hover {
    transform: translate(0%, 0%);
    background-color: rgba(0, 190, 255, 0.8) !important;
    border-color: rgba(0, 180, 255, 0.8) !important;
    box-shadow: 0 0 15px #00baff, 0 0 30px #29f7ff;
  }
}


